[Desktop Entry]
Version=1.0
Type=Application
Name[en_CA]=jf3
Name[en_US]=jf3
Name=jf3
GenericName=Spectrum Viewer
Exec=/usr/bin/jf3
MimeType=application/x-spectrum-jf3;application/x-spectrum-spe;application/x-spectrum-mca;application/x-spectrum-fmca;text/plain;
Icon=jf3-application-icon
Categories=Utility;
