[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=jf3 Spectrum Viewer
GenericName=Spectrum Viewer
Exec=jf3
Icon=utilities-system-monitor
Categories=Utility;GNOME;Viewer;Science;Physics;
Name[en_CA]=jf3 Spectrum Viewer
